# complied objects
*.so
*.o
*.dll
#*.hpp
#*.cpp

# R outputs that one does not normally want to VC
*.rds
*.pdf
*.png

# the package directory - sometimes useful sometimes not
#package/

# the knitr cache
*_cache
*_files

# sometimes weird tex things get produced
*.aux
*.out